.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    
}

.card {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: $gradient-black-transperant;
    border-radius: 1rem;
    padding: 3rem 3rem;
    box-shadow: $box-shadow-light;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.02) translateY(-0.3rem);
        box-shadow: 0 0.8rem 1rem rgba($color-white, 0.1);
    }
    &:active {
        transform: scale(1) translateY(0);
        box-shadow: $box-shadow-light;
    }
   

    &__icon-container {
        padding: 1.5rem;
        border-radius: 50%;
       // background-image: linear-gradient(#2998ff,#5643fa) ;
       box-shadow: 0 0 2rem rgba(0,0,0, 0.8);
       box-shadow: 0 0 2rem rgba($color-blue, 0.8);
       display: flex;
       
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        color: $color-blue;

       
    }

    &__category {
        font-size: 3rem;
        margin: 2rem 0;
        color: #eee;
    }
}